<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        {% if is_logged_in %}
            <a href="/">Home</a> |
            Welcome {{current_user.name}} <a href="/logout"> Log out</a>
           
          
        {% else %}
            <a href="/signup/new">Signup</a>
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    {% block footer %}
    {% endblock %}
</body>
</html>
